<li>
  <div class="crop-card">
    <h2><%= crop.name %></h2>
    <table>
      <tbody>
      <tr>
        <td>binomial name</td>
        <td><%= crop.binomial_name %></td>
      </tr>
      <tr>
        <td>description</td>
        <td><%= crop.description %></td>
      </tr>
      <tr>
        <td>sun requirements</td>
        <td><%= crop.sun_requirements %></td>
      </tr>
      <tr>
        <td>sowing method</td>
        <td><%= crop.sowing_method %></td>
      </tr>
      <tr>
        <td>spread</td>
        <td><%= crop.spread %></td>
      </tr>
      <tr>
        <td>days to maturity</td>
        <td><%= crop.days_to_maturity %></td>
      </tr>
      <tr>
        <td>row spacing</td>
        <td><%= crop.row_spacing %></td>
      </tr>
      <tr>
        <td>height</td>
        <td><%= crop.height %></td>
      </tr>
      </tbody>
    </table>
  </div>
</li>