<li>
  <%= link_to crop do %>
    <div class="crop-card">
      <h2><%= crop.name %></h2>
      <table>
        <tbody>
        <tr>
          <td><%= I18n.t('crops.binomial_name') %></td>
          <td><%= crop.binomial_name %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.description') %></td>
          <td><%= crop.description %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.sun_requirements') %></td>
          <td><%= crop.sun_requirements %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.sowing_method') %></td>
          <td><%= crop.sowing_method %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.spread') %></td>
          <td><%= crop.spread %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.days_to_maturity') %></td>
          <td><%= crop.days_to_maturity %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.row_spacing') %></td>
          <td><%= crop.row_spacing %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.height') %></td>
          <td><%= crop.height %></td>
        </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</li>