<h2> <%= crop.name %> </h2>
<ul>
  <li> binomial_name <%= crop.binomial_name %> </li>
  <li> description <%= crop.description %> </li>
  <li> sun_requirements <%= crop.sun_requirements %> </li>
  <li> sowing_method <%= crop.sowing_method %> </li>
  <li> spread <%= crop.spread %> </li>
  <li> days_to_maturity <%= crop.days_to_maturity %> </li>
  <li> row_spacing <%= crop.row_spacing %> </li>
  <li> height <%= crop.height %> </li>
</ul>