<% if @crops.present? %>
<%= content_for(:title) do %><%= @crops.first.name %><% end %>
<%= content_for(:social_image) do %><%= image_url(@crops.first.main_image_path) %><% end %>
<%= content_for(:description) do %><%= truncate(@crops.first.description, length: 140, separator: ' ') %><% end %>
<% else %>
<%= content_for(:title) do %><%= t('.title') %><% end %>
<% end %>

 <div class="crop-search-wrapper">
    <div class="row">
        <div class="columns medium-3 small-12">
            <label style="text-align: left;" class="control-label">Guide search</label>
            <input type="text" class="form-control fa fa-user" placeholder="Tomatoes" />
        </div>
        <div class="columns medium-3 small-12">
            <label style="text-align: left;" class="control-label">When</label>
            <div class="form-component input--medium input--search">
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="columns medium-3 small-12">
            <label style="text-align: left;" class="control-label">Climate zone</label>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Climate zone" />
                </div>

        </div>
        <div class="columns medium-3 small-12">
            <label style="text-align: left;" class="control-label">Search</label>
        <button type="submit" class="btn" style="padding: 10px; float: left;" padding-bottom:0px;><i class="fa fa-search"></i>
        </button>
        </div>

    </div>
<div class="row" style="text-align: left;">
            <label class="control-label">Stages</label>
            <button class="btn btn-xs crop-search-button">PREPARE</button>
            <button class="btn btn-sm crop-search-button">SOW</button>
            <button class="btn btn-sm crop-search-button">GERMINATE</button>
            <button class="btn btn-sm crop-search-button">BLOSSOM</button>
            <button class="btn btn-sm crop-search-button">HARVEST</button>
            <button class="btn btn-sm crop-search-button">POST PROCESS</button>
        </div>
    </div>

        <div class="crop-search-outer-wrapper">

<!-- Sidebar -->
        <div class="crop-search-siderbar-nav col-sm-3 col-md-3 col-lg-3" style="display: inline-flex;">
            <ul class="">
                    <div class="md-checkbox" >

                        <input id="i2" type="checkbox" checked>
                        <label class="">balcony</label>

                      </div>
                      <div class="md-checkbox" style="display: inline-flex;">
                        <input id="i1" type="checkbox">
                        <label for="i1" class="">backyard</label>
                      </div>
                      </hr>
          
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div class="crop-search-inner-wrapper" style="border: 1px solid grey;">
          Search stuff will populate here
        </div>
        </div>
 </div>

</div>
</div>