<div class="row">
<div class="columns small-6 small-centered">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>

    <%= render "/shared/alerts" %>

    <div class="field"><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div class="actions"><%= f.submit "Resend confirmation instructions", class: 'button submit' %></div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
</div>
