<div class="bar-header">
  <h1 class="title">
    <%= t('application.user_settings') %>
  </h1>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="large-8 medium-10 small-12 small-centered columns">
        <h3><%= t('users.account_information') %></h3>
        <%= render 'devise/shared/user_form' %>
        <br/>
        <br/>
        <h3><%= t('users.delete_account') %></h3>
        <p><%= t('users.delete_account_message') %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :delete) do |f| %>
          <%= f.label :password_confirmation, I18n.t('users.current_password') %>

          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.submit I18n.t('users.delete'), class: 'button alert submit', :data => { confirm: "Are you sure?" } %>
        <% end %>
        <%# <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'button submit' %></p>
      </div>
    </div>
  </div>
</div>
