<% content_for(:start_js) do %>
<%= javascript_include_tag '//maps.google.com/maps/api/js?sensor=false' %>
<% end %>

<div class="finish"
  ng-controller="finishCtrl">
  <div class="bar-header">
    <h1 class="title"><%= t('.thanks_for_joining') %></h1>
  </div>
  <div class="row title">
    <div class="large-12 columns">
      <h2><%= t('.openfarm_works_best_when') %></h2>
    </div>
  </div>
<%= form_for :user, controller: 'users', action: 'finish', method: 'put' do |f| %>
  <div class="row">
    <div class="large-4 columns">
      <label for="location">
        <%= t('.where_do_you_farm') %>
      </label>
      <small><%= t('.city_or_zip') %></small>
    </div>
    <div class="large-8 columns">
      <span location
            ng-model="user.user_setting.location"
            loading-text="<%= t('application.loading_locations') %>">
      </span>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label for="location">
        <%= t('.units_preference') %>
      </label>
    </div>
    <div class="large-8 columns">
      <input type="radio" id="units-imperial" value="imperial" name="units" ng-model="user.user_setting.units"><label for="units-imperial">Imperial</label>

      <input id="units-metric" type="radio" value="metric" name="units" ng-model="user.user_setting.units" checked><label for="units-metric">Metric</label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label for="location">
        <%= t('.email_sign_up') %>
      </label>
    </div>
    <div class="large-8 columns">
      <input type="radio" id="yes-email" value="true" name="mailing_list" ng-checked="user.mailing_list" ><label for="yes-email">Yes</label>
      <input id="no-email" type="radio" value="false" name="mailing_list" checked ng-checked="!user.mailing_list"><label for="no-email">No</label>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <label for="help_sign_up">
        <%= t('.help_sign_up') %>
        <br/><small><%= t('.help_description') %></small>
      </label>

    </div>
    <div class="large-8 columns">
      <input type="radio" id="yes-help" value="true" name="help_list" ng-checked="user.help_list" ><label for="yes-help">Yes</label>
      <input id="no-help" type="radio" value="false" name="help_list" ng-checked="!user.help_list" checked><label for="no-help">No</label>
    </div>
  </div>

  <div class="row submit">
    <div class="large-12 columns">
    <span class="right">
      <a class="button small secondary"
        name="back"
        href="<%= root_path %>">
        <%= t('application.skip') %>
      </a>

      <input class="button small"
        data-disable-with="Saving..."
        name="commit"
        type="submit"
        value="<%= t('.next_step') %>"/>
      </span>
    </div>
  </div>
<% end %>
</div>

<% content_for(:end_js) do %>
  <%= javascript_tag "var USER_ID = '#{current_user ? current_user._id : nil}';" %>
  <%= javascript_include_tag 'users/finish' %>
<% end %>
