<div class="member-profile">
  <!-- Pull cover image from member's favorite_crop -->
  <div class="row wide-row canopy"
       style="background-image: url(/assets/baren_field.jpg)">
    <div class="canopy" style="background-color: rgba(0,0,0,0.15)">
      <div class="small-12 medium-10 large-6 small-centered columns member-info-wrapper">
        <div class="row">
          <div class="small-12 medium-4 columns">
            <!-- Make this a thing -->
            <div class="member-picture"
              style="background-image: url(/assets/baren_field.jpg)">
            </div>
          </div>
          <div class="small-12 medium-8 columns member-infos">
            <h2><%= @user.display_name %></h2>
            <h5><%= @user.user_setting.location %></h5>

            <!-- Make this a user_setting and link_to crop page
            <h5>Favorite Crop: Blueberries</h5> -->

            <!-- Make this real
            <h5>Growing Practices: Organic</h5> -->
          </div>
        </div>
      </div>
      <!-- Make this a thing
      <button class="button right tiny secondary edit-profile-button">Edit Profile</button> -->
    </div>
  </div>

  <div class="row wide-row member-content">
    <!-- Sub header for mobile (replaces sidebar) TODO: Make it real
    <div class="small-12 show-for-small-only columns profile-sub-header">
      <ul>
        <li>
          <h4 class="number">4</h4>
          <p class="attribute">badges</p>
        </li>
        <li>
          <h4 class="number">22</h4>
          <p class="attribute">followers</p>
        </li>
        <li>
          <h4 class="number">68</h4>
          <p class="attribute">following</p>
        </li>
      </ul>
    </div> -->

    <!-- Sidebar for medium and up screens -->
    <div class="medium-4 large-3 show-for-medium-up columns profile-sidebar">
      <p class="member ">
        <%= t('.member_profile_intro') %>
      </p>
      <%#= render 'users/badges' %>
      <%#= render 'users/followers' %>
      <%#= render 'users/following' %>

    </div>

    <div class="small-12 medium-8 large-9 columns">

      <!-- Member's Guides -->
      <div class="small-12 columns section">
        <%= render 'users/show/guides' %>
      </div>

      <!-- Member's Gardens -->
      <div class="small-12 columns section">
        <%= render 'users/show/gardens' %>
      </div>

      <!-- Member's Organizations TODO: everything
      <div class="small-12 columns section">
        <%= render 'users/show/organizations' %>
      </div> -->

      <div class="small-12 columns section">
        <% if @user == current_user %>
        Manage <%= link_to t('application.user_settings'), edit_user_registration_path %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% content_for(:end_js) do %>
  <%= javascript_tag "var USER_ID = '#{current_user ? current_user._id : nil}';" %>
  <%= javascript_tag "var PROFILE_ID = '#{@user ? @user._id : nil}';" %>
<% end %>
