<div class="member-profile">
  <div class="row wide-row canopy"
       style="background-image: url(/assets/baren_field.jpg)">
    <div class="canopy" style="background-color: rgba(0,0,0,0.15)">
      <div class="small-12 medium-8 large-6 small-centered columns member-info-wrapper">
        <div class="row">
          <div class="small-4 columns">
            <div class="member-picture"
              style="background-image: url(/assets/baren_field.jpg)">
            </div>
          </div>
          <div class="small-8 columns member-infos">
            <h2><%= @user.display_name %></h2>
            <h5><%= @user.location %></h5>
            <h5>Favorite Crop: Blueberries</h5>
            <h5>Growing Practices: Organic</h5>
          </div>
        </div>
      </div>
      <button class="button right tiny secondary edit-profile-button">Edit Profile</button>
    </div>
  </div>

  <div class="row wide-row">
    <!-- Sub header for badges and followers on mobile -->
    <div class="small-12 show-for-small-only columns profile-sub-header">
      <ul>
        <li>
          <h4 class="number">4</h4>
          <p class="attribute">badges</p>
        </li>
        <li>
          <h4 class="number">22</h4>
          <p class="attribute">followers</p>
        </li>
        <li>
          <h4 class="number">68</h4>
          <p class="attribute">following</p>
        </li>
      </ul>
    </div>
    </br>
    </br>

    <!-- Sidebar for badges and followers on larger screens -->
    <div class="medium-4 large-3 show-for-medium-up columns profile-sidebar">
      <!-- Member Badges -->
      <div class="row">
        <div class="small-12 columns sidebar-section">
          <h4 class="section-header">Badges</h4>
          <ul class="badges-list">
            <li>Backer Badge</li>
            <li>Guide Creator Level 3</li>
            <li>25 Comments</li>
            <li>Crop Editor Level 10</li>
          </ul>
        </div>
      </div>

      <!-- Followers -->
      <div class="row">
        <div class="small-12 columns sidebar-section">
          <h4 class="section-header">Followers</h4>
          <ul class="badges-list">
            <li>Barack Obama</li>
            <li>Hilary Clinton</li>
            <li>Kat Ying</li>
            <li>+ 4 more</li>
          </ul>
        </div>
      </div>

      <!-- Following -->
      <div class="row">
        <div class="small-12 columns sidebar-section">
          <h4 class="section-header">Following</h4>
          <ul class="badges-list">
            <li>Barack Obama</li>
            <li>Hilary Clinton</li>
            <li>Kat Ying</li>
            <li>+ 4 more</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="small-12 medium-8 large-9 columns">
      <!-- Member's Guides -->
      <div class="small-12 columns section">
        <div class="section-header">
          <h3 class="section-title"><%= t('member.guides') %></h3>
          <!-- TODO: Only show create button if user is current_user -->
          <button class="button right tiny">Create Guide</button>
        </div>
        <%= render 'guides/index' %>
      </div>
      </br>
      </br>

      <!-- Member's Gardens -->
      <div class="small-12 columns section">
        <div class="section-header">
          <h3 class="section-title">Gardens</h3>
          <!-- TODO: Only show button if user is current_user -->
          <button class="button right tiny">Add Garden</button>
        </div>
        <%= render 'users/gardens' %>
      </div>
      </br>
      </br>

      <!-- Member's Organizations -->
      <div class="small-12 columns section">
        <div class="section-header">
          <h3 class="section-title"><%= t('users.organizations') %></h3>
          <!-- TODO: Only show button if user is current_user -->
          <button class="button right tiny">Explore Organizations</button>
        </div>
      </div>
      </br>
      </br>

      <!-- Account Information -->
      <!-- TODO: Only show if user is current_user -->
      <div class="small-12 columns section">
        <div class="section-header">
          <h3 class="section-title"><%= t('users.account_information') %></h3>
          <button class="button right tiny">Edit</button>
        </div>
      <!-- Getting an undefined resource variable in devise/shared/_user_form -->
      <%#= render 'devise/registrations/edit' %>
      </div>
    </div>
  </div>
</div>
