<div class="footer">
        <ul class="links">
        <li>
        <%= link_to('Mailing List', page_path('mailing-list'), :class=>'hero-link' ) %>
        </li>
        <li>

        <%= link_to('Style Guide', page_path('styles'), :class=>'hero-link' ) %>
        </li>
        <li>
            <%= link_to('Privacy',page_path('privacy'), :class=>'hero-link' ) %>
        </li>
        <li>
            <%= link_to('Terms of Use',page_path('tos'), :class=>'hero-link' ) %>
        </li>
        <li>
            <%= link_to('Blog', 'http://blog.openfarm.cc', :class=>'hero-link') %>
        </li>
        <li>
            <%= link_to('Code of Conduct',page_path('code_of_conduct'), :class=>'hero-link') %>
        </li>
        <li>
            <%= link_to('About',page_path('about'), :class=>'hero-link' ) %>
        </li>
        </ul>
</div>
