 <% @is_search_page = true %>

<div class="hero-background"></div>
<div class="hero row">
    <div class="small-10 small-centered columns">
        <img src="<%= image_path 'openfarm_logo.svg' %>" width="420px" onerror="this.onerror=null; this.src='<%= image_path 'openfarm_logo.png' %>'">
        <h1>Learn to grow anything.</h1>
        <h2>A free and open database for farming and gardening knowledge.</h2>
    </div>
    <div class="small-10 small-centered columns">
      <%= form_for :cropsearch, url: crop_search_via_post_path, method: 'post' do |f| %>
            <div class="row">
                <div class="small-12 small-centered columns">
                    <div class="row collapse">
                        <div class="small-8 large-9 columns">
                          <%= f.text_field :q, id: :q, maxlength:"120", class: 'search', placeholder: "What do you want to grow?" %>
                        </div>
                        <div class="small-4 large-3 columns">
                          <%= f.submit "Search!", data: { disable_with: "Searching..." }, class: 'button postfix' %>
                        </div>
                    </div>
                </div>
            </div>
          <% end %>
    </div>
</div>
<a href="https://github.com/farmbot/openfarm"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>