<%= javascript_include_tag "home" %>
<%= javascript_include_tag "search" %>
<div class="hero">
    <div class="video-background">
        <video autoplay loop poster="<%= image_path 'home_video_first_frame.jpeg' %>">
            <source src="<%= asset_path 'home_video.webm' %>" type="video/webm">
            <source src="<%= asset_path 'home_video.mp4' %>" type="video/mp4">
        </video>
    </div>
    <div class="the-blackness"></div>
    <div class="row row-table">
        <div class="small-12 small-centered column-middle columns">
            <img class="logo" src="<%= image_path 'openfarm_logo.png' %>" width="420px">
            <h2 class="text-center"><%=t '.hero_header' %></h2>
            <ul class="steps text-center clearfix">
                <li class="step">
                    <div class="step-circle step-circle-1">1</div>
                    <%= t '.step_1' %>
                </li>
                <li class="step">
                    <div class="step-circle step-circle-2">2</div>
                    <%= t '.step_2' %>
                </li>
                <li class="step">
                    <div class="step-circle step-circle-3">3</div>
                    <%= t '.step_3' %>
                </li>
            </ul>
            <%= form_for :cropsearch, url: crop_search_via_post_path, method: 'post' do |f| %>
                <div class="row">
                    <div class="small-12 small-centered columns">
                        <div class="search-bar-container">
                            <div class="search-bar" ng-app="searchApp" ng-controller="searchCtrl">
                                <div class="search-input-container">
                                    <%= text_field_tag :q, nil, {class: 'search-input', name: 'cropsearch[q]',   placeholder: t('.placeholder'),
                                            maxlength: '120', autocomplete: 'off', 'ng-model'=>'query', 'ng-change'=>  'search()',
                                            'typeahead'=>'crop.name for crop in crops', 'typeahead-wait-ms'=>'555', '  typeahead-min-length'=>'3'} %>
                                </div>
                                <div class="search-button-container">
                                    <%= f.submit t('.search'), data: { disable_with: "Searching..." }, class: 'search-button button postfix' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="footer">
    <div>
        <ul class="links">
        <li>
        <%= link_to('Mailing List', page_path('mailing-list'), :class=>'hero-link' ) %>
        </li>
        <li>

        <%= link_to('Styles', page_path('styles'), :class=>'hero-link' ) %>
        </li>
        <li>
            <%= link_to('Privacy and Terms of Use',page_path('tos'), :class=>'hero-link' ) %>
        </li>
        <li>
            <%= link_to('Blog', 'http://blog.openfarm.cc', :class=>'hero-link') %>
        </li>
        <li>
            <%= link_to('Code of Conduct',page_path('code_of_conduct'), :class=>'hero-link' ) %>
        </li>
        </ul>
    </div>
</div>
