<%= javascript_include_tag "home" %>
<%= javascript_include_tag "search" %>
<div class="hero-background">
    <div class="hero row">
        <div class="small-10 small-centered columns">
            <img src="<%= image_path 'openfarm_logo.png' %>" width="420px">
            <h1><%=t '.hero_header' %></h1>
            <h2><%=t '.hero_sub_header' %></h2>
        </div>
        <div class="small-10 small-centered columns">
          <%= form_for :cropsearch, url: crop_search_via_post_path, method: 'post' do |f| %>
                <div class="row">
                    <div class="small-12 small-centered columns">
                        <div class="row collapse">
                            <div class="small-8 large-9 columns ng-cloak"
                                ng-app="searchApp" 
                                ng-controller="searchCtrl"
                                ng-cloak>
                                
                                <%= text_field_tag :q, nil, {class: 'search', name: 'cropsearch[q]', placeholder: t('.placeholder'),
                                    maxlength: '120', autocomplete: 'off', 'ng-model'=>'query', 'ng-change'=>'search()',
                                    'typeahead'=>'crop.name for crop in crops', 'typeahead-wait-ms'=>'555', 'typeahead-min-length'=>'3'} %>

                            </div>
                            <div class="small-4 large-3 columns">
                              <%= f.submit t('.search'), data: { disable_with: "Searching..." }, class: 'button postfix' %>
                            </div>
                        </div>
                    </div>
                </div>
              <% end %>
        </div>
    </div>
    <div class="row links">
        <ul>
        <li>
        <%= link_to('Mailing List', page_path('mailing-list'), :class=>'hero-link' ) %>
        </li>
        <li>

        <%= link_to('Styles', page_path('styles'), :class=>'hero-link' ) %>
        </li>
        <li>

        <%= link_to('Privacy and Terms of Use', page_path('tos'), :class=>'hero-link' ) %>
        </li>

        <li>
            <%= link_to('Blog', 'http://blog.openfarm.cc', :class=>'hero-link') %>
        </li>
        </ul>
    </div>
    <div class="row">
        <div class="small-3 small-centered columns"><iframe frameborder="0" height="420" scrolling="no" src="https://www.kickstarter.com/projects/roryaronson/openfarm-learn-to-grow-anything/widget/card.html?v=2" width="220"></iframe></div>
        <div class="small-4 small-centered columns"></div>
    </div>
</div>
    <div class="github-fork-ribbon-wrapper right-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/farmbot/openfarm">Fork me on GitHub</a>
        </div>
    </div>
