<section name="step-1" class="step" ng-show="step === 1" ng-if="!$scope.loadingEverything">
  <form accept-charset="UTF-8"
    class="getting-started"
    id="new-guide-step-1"
    method="post"
    >
    <div class="instructions text-center">
      <h1>
        <%= t('.lets_get_started') %>
      </h1>
    </div>
    <div class="row">
      <div guides-choose-crop
        guide="newGuide"
        texts="{ 'commonOrScientific': '<%= t('.common_or_scientific') %>',
        'whichCrop': '<%= t('.which_crop') %>',
        'cropSearches': '<%= t('crop_searches.show.loading_crops') %>',
        'placeholder': '<%= t('home.placeholder') %>'}">
      </div>
      <!-- <hr/> -->
      <!-- <div class="left-half columns small-5">
        <div class="row">
          <div class="columns small-12">
            <label class="left"
                for="guide_image_upload"><%= t('.choose_photo') %><br/>
              <small><%= t('application.only_upload_what_you_own') %></small>
            </label>
          </div>
          <div class="columns small-12">
            <div id="guide_image_upload"
                name="guide_image_upload"
                s3-upload
                bucket="'<%= ENV['S3_BUCKET_NAME'] %>'"
                ng-model="s3upload"
                s3-upload-existing-pictures="newGuide.featured_image"
                s3-upload-place-pic="placeGuideUpload(image)"
                s3-upload-options="{getOptionsUri: '/api/aws/s3_access_token', folder: 'temp/'}">
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="button-wrapper row">
      <div class="columns small-12">
        {{ form.newGuideStep1 }}
        <div stage-buttons
          abled-bool="newGuide.crop"
          abled-text="<%= t('.next_life_stages') %>"
          disabled-text="<%= t('.choose_a_crop_to_continue') %>">
        </div>
      </div>
    </div>
  </form>
</section>
