<section name="step-4" class="step" ng-show="step === 4">
  <div class="instructions">
    <h1>
      <%= t('.some_information') %>
    </h1>
  </div>
  <form accept-charset="UTF-8"
    class="new-guide new-guide-step-2"
    id="new-guide-step-2"
    method="post"
    >
    <div class="row">
      <div class="columns large-4 medium-4">
        <label for="guide_name"><%= t('.what_do_you_want_to_call_your_guide') %>
        </label>
      </div>
      <div class="columns large-8 medium-8">
        <input id="guide_name" name="guide[name]"
          type="text"
          ng-model="newGuide.name"
          placeholder="<%= current_user.display_name %>'s {{ newGuide.crop.name }}"
          >
      </div>
    </div>
    <div class="row">
      <div class="columns large-4 medium-4">
        <label for="location"><%= t('.where_are_you_growing_it') %></label>
      </div>
      <div class="columns large-8 medium-8">
        <span location name="location"
              ng-model="newGuide.location"
              loading-text="<%= t('application.loading_locations') %>">
        </span>
      </div>
    </div>

    <div class="row">
      <div class="columns large-4 medium-4">
        <label for="location"><%= t('.give_an_overview') %></label>
      </div>
      <div class="columns large-8 medium-8">
        <textarea ng-model="newGuide.overview">
        </textarea>
      </div>
    </div>
    <div class="button-wrapper row">
      <div class="columns small-12">
        <div stage-buttons  id="submitFormButton"
             cancel-url="<%= root_path %>"
             cancel-text="<%= t('guides.new.cancel_and_go_to_home') %>"
             back-text="<%= t('guides.new.back') %>"
             next-function="submitForm"
             abled-bool="newGuide.name && !newGuide.sending"
             processing="newGuide.sending"
             abled-text="<%= t('.done') %>"
             disabled-text="<%= t('.call_your_guide_something') %>">
        </div>
      </div>
    </div>
  </form>
</section>
