<section name="step-3" class="step stage-details" ng-show="step === 3">

  <div ng-show="newGuide.selectedStagesCount === 0">
    <%= t('.select_some_stages') %>
  </div>

  <div ng-show="newGuide.selectedStagesCount > 0">

    <!-- TODO: Fix before deploy -->
    <form name="sacrificial-form" style="background:red">
      <!-- This clearly shouldn't be necessary but something on the page is consuming the first form element -->
    </form>
    <!--  -->
    <!-- There has to be a better way to send all of these internationalizations to Angular JS -->
    <div guides-stages
      guide="newGuide"
      options="options"
      texts="{ 'actionsHeader': '<%= t('.actions_header') %>',
      'actionsInstructions': '<%= t('.actions_instructions') %>','addActions': '<%= t('.add_actions') %>','describeAction': '<%= t('.describe_action') %>','chooseActionPhoto': '<%= t('.choose_action_photo') %>','s3Bucket': '<%= ENV['S3_BUCKET_NAME'] %>','howLongAction': '<%= t('.how_long_action') %>',
      'doNotSweat': '<%= t('.do_not_sweat') %>',
      'stageOverview': '<%= t('.stage_overview') %>',
      'chooseStagePhoto': '<%= t('application.choose_stage_photo') %>',
      'onlyUploadWhatYouOwn': '<%= t('application.only_upload_what_you_own') %>',
      'howLong': '<%= t('.how_long') %>',
      'whereHappen': '<%= t('.where_does_this_stage_happen') %>',
      'chooseMoreThanOne': '<%= t('.choose_more_than_one') %>',
      'whatTypeOfSoil': '<%= t('.what_type_of_soil') %>',
      'notSureSoil': '<%= t('.not_sure_about_soil_types_html') %>',
      'howMuchLight': '<%= t('.how_much_light') %>',
      'cancel': '<%= t('guides.new.cancel_and_go_to_home') %>',
      'back': '<%= t('guides.new.back') %>',
      'editNextStage': '<%= t('.edit_next_stage') %>',
      'finishStageToContinue': '<%= t('.finish_stage_to_continue') %>',
      'nextFinalTouches': '<%= t('.next_final_touches') %>'
      }">
    </div>
  </div>
</section>
