<section name="step-4" class="step" ng-if="step === 4">
  <div class="instructions text-center">
    <h1>
      <%= t('.almost_done') %>
    </h1>
  </div>
  <hr/>
  <form accept-charset="UTF-8"
    class="finishing-up"
    id="new-guide-step-2"
    method="post"
    >
    <div class="row practices">
      <div class="columns small-12">
        <label class="left"
          for="practices"><%= t('.which_practices') %><br/>
          <small><%= t('.check_all_that_apply') %></small>
        </label>
      </div>
      <div class="columns small-12 options">
        <div multi-row-select
             ng-if="newGuide.practices"
             class="multi-choice"
             options="newGuide.practices"
             multi-select-overflow-count="3"
             multi-select-type="checkbox"
             multi-select-id="practices">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-4">
        <label for="guide_name"><%= t('.what_do_you_want_to_call_your_guide') %>
        </label>
      </div>
      <div class="columns medium-8">
        <input id="guide_name" name="guide[name]"
          type="text"
          ng-model="newGuide.name"

          placeholder="<%= current_user.display_name %>'s {{ newGuide.crop.name }}"
          >
      </div>
    </div>
    <div class="row">
      <div class="columns medium-4">
        <label for="location"><%= t('.where_are_you_growing_it') %></label>
      </div>
      <div class="columns medium-8">
        <span ng-model="newGuide.location"
              location
              name="location"
              loading-text="<%= t('application.loading_locations') %>">
        </span>
      </div>
    </div>

    <div class="row">
      <div class="columns large-4 medium-4">
        <label for="location"><%= t('.give_an_overview') %></label>
      </div>
      <div class="columns large-8 medium-8">
        <textarea ng-model="newGuide.overview">
        </textarea>
      </div>
    </div>
    <div class="button-wrapper row">
      <div class="columns small-12">
        <div stage-buttons  id="submitFormButton"
             cancel-url="<%= root_path %>"
             cancel-text="<%= t('guides.new.cancel_and_go_to_home') %>"
             back-text="<%= t('guides.new.back') %>"
             next-function="submitForm"
             abled-bool="newGuide.name && !newGuide.sending"
             processing="sending !== 0 && startedSending"
             abled-text="<%= t('.done') %>"
             disabled-text="<%= t('.call_your_guide_something') %>">
        </div>
      </div>
    </div>
  </form>
</section>
