<div class="small-12 columns new-crop">
  <div class="row">
    <div class="medium-8 small-12 small-centered columns">
      <h1>Add a new crop!</h1>
      <%= form_for @crop do |f| %>
      <%= f.label :name, 'Crop Name' %>
      <%= f.text_field :name %>

      <%= f.label :binomial_name, t('crops.binomial_name') %>
      <%= f.text_field :binomial_name %>

      <%= f.label :description, t('crops.description') %>
      <%= f.text_area :description %>

      <%= f.label :sun_requirements, t('crops.sun_requirements') %>
      <%= f.text_field :sun_requirements %>

      <%= f.label :sowing_method, t('crops.sowing_method') %>
      <%= f.text_field :sowing_method %>

      <%= f.label :spread, t('crops.spread') %>
      <%= f.text_field :spread %>

      <%= f.label :row_spacing, t('crops.row_spacing') %>
      <%= f.text_field :row_spacing %>

      <%= f.label :height, t('crops.height') %>
      <%= f.text_field :height %>

      <%= f.hidden_field 'source', value: params[:source] %>

      <%= f.submit params[:source] == 'guide' ? t('.save_crop_and_create_guide') : t('.save_crop'), :class => 'button', data: { disable_with: 'Saving...' } %>
    <% end %>
    </div>
  </div>
</div>
