<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="large-8 medium-10 small-12 small-centered columns">
        <h1><%= @crop.name %></h1>
        <div class="crop-images">
        <% @crop.images.each do |image| %>
          <div><%= image_tag image.attachment.url if image.attachment %></div>
        <% end %>
        </div>
        <table class="crop">
            <tbody>
            <tr>
              <td><%= I18n.t('crops.binomial_name') %></td>
              <td><%= @crop.binomial_name %></td>
            </tr>
            <tr>
              <td><%= I18n.t('crops.description') %></td>
              <td><%= @crop.description %></td>
            </tr>
            <tr>
              <td><%= I18n.t('crops.sun_requirements') %></td>
              <td><%= @crop.sun_requirements %></td>
            </tr>
            <tr>
              <td><%= I18n.t('crops.sowing_method') %></td>
              <td><%= @crop.sowing_method %></td>
            </tr>
            <tr>
              <td><%= I18n.t('crops.spread') %></td>
              <td><%= @crop.spread %></td>
            </tr>
            <tr>
              <td><%= I18n.t('crops.days_to_maturity') %></td>
              <td><%= @crop.days_to_maturity %></td>
            </tr>
            <tr>
              <td><%= I18n.t('crops.row_spacing') %></td>
              <td><%= @crop.row_spacing %></td>
            </tr>
            <tr>
              <td><%= I18n.t('crops.height') %></td>
              <td><%= @crop.height %></td>
            </tr>
            <tr>
              <td><%= link_to(I18n.t('crops.add_an_image'), '#', data: {:'reveal-id' => 'add-image'}) %></td>
              <td></td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<div id="add-image" class="reveal-modal small" data-reveal>
  <h2>Add An Image</h2>
  <p>
    <%= form_for(@new_image, url: crop_images_path(@crop), html: { multipart: true}) do |f| %>
      <%= f.file_field :attachment %>
      <input class='button small' name='commit' type='submit' value='Upload Image'></input>
    <% end %>
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>
