<h1><%= @crop.name %></h1>
<h2><%= @crop.binomial_name %></h2>

<h3>Description</h3>
<p><%= @crop.description %></p>

<h3>Sun Requirements</h3>
<p><%= @crop.sun_requirements %></p>

<h3>Sowing Method</h3>
<p><%= @crop.sowing_method %></p>

<h3>Spread</h3>
<p><%= @crop.spread %></p>

<h3>Days to Maturity</h3>
<p><%= @crop.days_to_maturity %></p>

<h3>Row Spacing</h3>
<p><%= @crop.row_spacing %></p>

<h3>Height</h3>
<p><%= @crop.height %></p>