<div class="crop-page row wide-row">
  <div class="crop-info-container small-6 columns">
    <div class="crop-hero" style="<%= if !@crop.pictures[0].blank? then "background-image: url(#{@crop.pictures[0].attachment.url})" end %>">
      <h1 class="crop-name text-center"><%= @crop.name %></h1>
    </div>
    <table class="crop">
        <tbody>
        <tr>
          <td colspan="2"><% @crop.pictures.each do |pic, index| %>
            <img src="<%= pic.attachment.url(:small) %>" title="<%= @crop.name %> Picture <%= index %>"/>
          <% end %>
          </td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.binomial_name') %></td>
          <td><%= @crop.binomial_name %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.description') %></td>
          <td><%= @crop.description %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.sun_requirements') %></td>
          <td><%= @crop.sun_requirements %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.sowing_method') %></td>
          <td><%= @crop.sowing_method %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.spread') %></td>
          <td><%= @crop.spread %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.days_to_maturity') %></td>
          <td><%= @crop.days_to_maturity %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.row_spacing') %></td>
          <td><%= @crop.row_spacing %></td>
        </tr>
        <tr>
          <td><%= I18n.t('crops.height') %></td>
          <td><%= @crop.height %></td>
        </tr>
        </tbody>
    </table>
  </div>
  <div class="guide-results-container small-6 columns">
    <h2 class="text-center"><%= @guides.empty? ? "There are no guides for this crop yet" : "Guides for this crop" %></h2>
    <p class="text-center"><%= "Please consider creating one if you can!" if @guides.empty? %></p>
    <%= render partial: '/guides/guide_results_list', object: @guides %>
  </div>
</div>
