<div class="row user-access">
  <div class="columns small-12 medium-5 small-centered">
    <div class="panel">
      <h2>Sign in</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :password %>
        <%= f.password_field :password %></div>

        <% if devise_mapping.rememberable? %>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end %>

        <div align="center"><%= f.submit "Sign in", class: 'button small' %></div>
      <% end %>
      <hr/>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
