<section name="step-3" ng-show="step === 3">
  <h2 class="columns large-12">
    <%= t('.fill_in_details') %>
  </h2>

  <form>

    <ul class="chosen-stages">
      <li class="chosen-stage" ng-repeat="stage in newGuide.selectedStages"
          ng-class="{ 'editing' : stage.editing }"
          ng-click="editSelectedStage(stage)">
        <div class="bubble {{ stage.name }}">
        </div>
        <p>
          {{ stage.name }}
        </p>
      </li> 
    </ul>

    <div stage-buttons
        cancel-url="<%= root_path %>"
        cancel-text="<%= t('guides.new.cancel_and_go_to_home') %>"
        back-text="<%= t('guides.new.back') %>"
        disabled-text="<%= t('.next_final_touches') %>"
        abled-text="<%= t('.fill_in_details') %>"
        >
    </div>
  </form>
  
</section>
