<div class="row create-guide-steps">
  <div class="large-2 medium-2 small-2 columns step"
      ng-class="{ 'active' : step === 1 }">
    1. <%= t('.the_basics') %>
  </div>
  <div class="large-2 medium-2 small-2 columns step"
      ng-class="{ 'active' : step === 2 }">
    2. <%= t('.life_stages') %>
  </div>
  <div class="large-2 medium-2 small-2 columns step"
      ng-class="{ 'active' : step === 3 }">
    3. <%= t('.stage_details') %>
  </div>
  <div class="large-2 medium-2 small-2 columns step"
      ng-class="{ 'active' : step === 4 }">
    4. <%= t('.final_touches') %>
  </div>

  <div class="large-2 medium-2 small-2 columns preview step"
      ng-class="{ 'active' : step === 4 }">
    <span tooltip="preview coming soon"><%= t('.preview_guide') %></span>
  </div>
</div>
