<div ng-app="editGuidesApp"
     ng-controller="editGuideCtrl"
     ng-cloak
     class="edit-guide-app">

    <alert ng-cloak class="ng-cloak columns large-6 centered" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
      <div class="">
        {{alert.msg}}
      </div>
    </alert>

    <div class="row">
    <form accept-charset="UTF-8"
      class="small-10 large-10 columns centered edit-overview"
      name="edit-overview"
      method="post"
      >
      <div class="column large-10">
        <h1 ng-click="editing_name = ! editing_name"
            ng-show="!editing_name"
            title="Click to edit"
            ><span class="fa fa-edit"></span> {{ guide.name }} </h1>
        <input ng-show="editing_name"
               ng-model="guide.name"
               type="text"
               class="hidden-edit-field"
               focus-me="editing_name"/>
      </div>
      <div class="column large-2">
        <input type="button"
             class="button small"
             ng-click="saveGuide()"
             data-disable-with="Saving..."
             ng-disabled="saving"
             value="Save Guide"/>
      </div>

      <div class="columns large-3">
        <div s3-upload
        bucket="'<%= ENV['S3_BUCKET_NAME'] %>'"
        ng-model="s3upload"
        s3-upload-options="{getOptionsUri: '/api/aws/s3_access_token', folder: 'temp/'}">
        </div>
        <p>
          <%= link_to(icon('eye') + " View Guide", {:action => 'show'}, :class=>'edit-link') %>
        </p>
        <!-- <span class="crop-image">
          <img ng-cloak
               ng-class="{ 'no-image' : !new_guide.crop.image }"
               ng-src="{{ new_guide.crop.image || '/img/empty-pot.png' }}"
               alt="{{ new_guide.crop.name || 'no crop selected'}}"/>
        </span> -->
      </div>
      <div class="columns large-9">
        <p>
        </p>
        <p>
          <%= t('.more_details') %>
        </p>
        <label for="guide_overview">
          Tell us a little about how you grew your crop.
        </label>
        <textarea id="guide_overview"
                  name="guide[overview]"
                  ng-model="guide.overview"
                  rows="5">
        </textarea>
        <p>
          To get more into details, describe your process <a href="#stages">in stages</a>.
        </p>
      </div>

    </form>
    </div>
    <div class="row">
    <div class="large-10 small-10 columns centered">

    <accordion close-others="false">
      <accordion-group is-open="false" class="accordion-navigation statistics">
        <accordion-heading class="title-wrapper">
          <h2 class="title">
            <i ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
            Statistics
          </h2>
        </accordion-heading>
        <p class="section-text">
        Your guide has had <%= pluralize(@guide.impressions.count, 'view') %>
        </p>
      </accordion-group>
      <accordion-group is-open="true" class="accordion-navigation requirements">
        <accordion-heading class="title-wrapper">
          <h2 class="title">
            <i ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
            Requirements
          </h2>
        </accordion-heading>
        <p class="section-text">
          Requirements are the small details that make sure this crop grows successfully.
          If you don't know everything, or it's not applicable, that's okay.
        </p>
        <div class="box">
          <div class="row">
            <div class="small-12 columns actual-requirements">
              <div class="requirement"
                ng-class="{ active : r.active }"
                ng-init="r.value = r.default_value"
                ng-repeat="r in guide.requirements.slice(0, guide.requirements.length)">
                  <div class="small-6 columns title"
                    >
                    <input type="checkbox" ng-model="r.active">
                      {{ r.name }}:</div>
                  <div class="small-6 columns choices">
                    <select
                      ng-if="r.type == 'select'"
                      ng-model="r.value"
                      ng-init=""
                      ng-options="o for o in r.options"
                      ng-change="r.active = true; setStatus(r);"
                      >
                      <option>Don't know</option>
                      <option>Not Applicable</option>
                    </select>

                    <span ng-if="r.type == 'range'">
                    <input
                      type="range"
                      min="{{ r.options[0] }}"
                      max="{{ r.options[1] }}"
                      step="{{ r.options[2] }}"
                      ng-change="r.active = true"
                      ng-model="r.value"
                           />{{ r.value }}</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="row requirements-results">
            <div class="small-6 columns centered">
              <span ng-show="filtered_requirements.length > 0">
                You've selected: <br/> <span ng-repeat="r in (guide.requirements | filter: {active: !r.active }) as filtered_requirements"> {{r.name}}<span ng-if="!$last">,</span>
                </span>
              </span>
              <span ng-show="filtered_requirements.length == 0">You haven't selected anything yet</span>
            </div>
          </div>
        </div>
        <div class="row">

          <p class="section-text columns large-8">
            If you're happy with your guide so far, save it!
          </p>
          <span class="columns large-2">
            <input type="button"
                 class="button small"
                 ng-click="saveGuide()"
                 value="Save Guide"/>
          </span>
        </div>
      </accordion-group>

      <accordion-group is-open="true" class="accordion-navigation">
        <accordion-heading class="title-wrapper">
          <h2 class="title" id="stages">
            <i ng-class="{'fa fa-chevron-down': isOpen, 'fa fa-chevron-right': !isOpen}"></i>
            Stages
          </h2>

        </accordion-heading>
        <p class="section-text">
          Each stage of growing your crop.
        </p>
        <tabset class="tabs">

          <tab ng-repeat="s in guide.stages | orderBy:'order'">
            <tab-heading href="#instructions-{{ s.slug }}" class="tab-heading">
              <h3>{{ s.name }}</h3>
            </tab-heading>
            <div class="box">
              <div class="row">
                <div class="columns large-12 stage-description">
                  <p>{{ s.description }}</p>
                  <textarea placeholder="{{ s.default_value }}"
                    ng-model="s.instructions"
                    ng-change="setStatus(s)">
                  </textarea>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
        <div class="row">

          <p class="section-text columns large-8">
            If you're happy with your guide so far, save it!
          </p>
          <span class="columns large-2">
            <input type="button"
                 class="button small"
                 ng-click="saveGuide()"
                 value="Save Guide"/>
          </span>
        </div>
      </accordion-group>
    </accordion>
    </div>
  </div>
</div>

<%= javascript_tag "var GUIDE_ID = '#{@guide.try(:id).to_s}';" %>

