<% content_for(:start_js) do %>
<%= javascript_include_tag '//maps.google.com/maps/api/js?sensor=false' %>
<% end %>

<% content_for(:banner) do %>
  <div class="bar-header">
    <h1 class="title"><%= t('.create_a_growing_guide') %></h1>
    <div class="container">
      <div class="small-12">
      <p>test</p>
      </div>
    </div>
  </div>
<% end %>

<div ng-controller="newGuideCtrl"
     class="guides new-guide large-8 medium-8 small-12 columns ng-cloak small-centered"
     ng-cloak>

    <div alerts ng-model="alerts"></div>

  <%= render 'guides/new/new_guide_steps' %>

  <%= render 'guides/new/new_guide_step_1' %>

  <%= render 'guides/new/new_guide_step_2' %>

  <%= render 'guides/new/new_guide_step_3' %>

  <%= render 'guides/new/new_guide_step_4' %>

</div>

<% content_for(:end_js) do %>
  <script>

  </script>
<% end %>
