<div class="bar-header">
  <h1 class="title">
    <%= t('.my_guides') %>
  </h1>
</div>
<div class="guides row guides-list">
  <div class="small-12 columns">
    <table>
      <% @guides.each do |guide| %>
        <tr>
          <td>
            <%= link_to(guide.name, {:action => 'show', :id => guide.id}, :class=>'action show') %>
          </td>
          <td>
            <%= link_to(guide.crop.name, { controller: 'crops',
              action: 'show',
              id: guide.crop.id }, class: 'action show') %>
          </td>
          <td>
            <%= link_to(icon('edit'), {:action => 'edit', :id => guide.id}, :class=>'action show') %>
          </td>
          <td>
            <%= link_to(icon('trash'), guide_path(guide), :method => 'delete', :class=>'action show', data: {confirm: "Are you sure?"}) %>
          </td>
        </tr>
      <% end %>
    </table>
    <% if @guides.count == 0 %>
      <div class="loading-content">
        <%= t('.no_guides_yet') %>
      </div>
    <% end %>
    <%= link_to t('.create_a_guide'), { controller: 'guides', action: 'new' },
    class:"button new-guide-button" %>
  </div>
</div>
