<% content_for(:start_js) do %>
<%= javascript_include_tag '//maps.google.com/maps/api/js?sensor=false' %>
<% end %>

<% content_for(:banner) do %>
  <div class="bar-header">
    <h1><%= t('.create_a_growing_guide') %></h1>
  </div>
<% end %>

<div ng-controller="newGuideCtrl"
     class="new-guide large-8 medium-8 small-12 columns ng-cloak centered"
     ng-cloak>

    <alert ng-cloak class="ng-cloak" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="row create-guide-steps">
    <div class="large-3 medium-3 small-3 columns step"
        ng-class="{ 'active' : step === 1 }">
      <%= t('.the_basics') %>
    </div>
    <div class="large-3 medium-3 small-3 columns step"
        ng-class="{ 'active' : step === 2 }">
      <%= t('.life_stages') %>
    </div>
    <div class="large-3 medium-3 small-3 columns step"
        ng-class="{ 'active' : step === 3 }">
      <%= t('.final_touches') %>
    </div>

    <div class="large-2 medium-2 small-2 columns preview step"
        ng-class="{ 'active' : step === 3 }">
      <%= t('.preview_guide') %>
    </div>
  </div>

  <section name="step-1" ng-show="step === 1">
    <h1>
      <%= t('.step_1.lets_get_started') %>
    </h1>
    <form accept-charset="UTF-8"
      class="new-guide-step-1"
      id="new-guide-step-1"
      method="post"
      >
      <div class="row">
        <div class="columns large-4">
          <label class="right"
            for="guide_crop_id"><%= t('.step_1.which_crop') %><br/>
            <small><%= t('.step_1.common_or_scientific') %></small>
            </label>
        </div>
        <div class="columns large-8">
          <input
            id="crop_name"
            type="text"
            ng-model="query"
            ng-change="search()"
            typeahead-on-select='cropSelected($item, $model, $label)'
            typeahead="crop.name for crop in crops"
            typeahead-loading="loadingCrops"
            typeahead-wait-ms="555"
            typeahead-min-length="3"
            class="form-control"/>
          <span ng-show="loadingCrops" >
          <i class="fa fa-spinner fa-spin"></i> <%= t('.step_1.loading_crops') %>
          </span>
          <span ng-if="crop_not_found">
            <p>
              <strong><%= t('.uh_oh') %></strong> <%= t('.not_found') %>
            </p>
            <p>
              <%= t('.you_will_have_to') %> <a ng-click="createCrop()"><%= t('.add_one') %></a>.
            </p>
          </span>
               <p>
            <strong ng-cloak ng-bind="newGuide.crop.name ? newGuide.crop.name : ''"></strong>
          <em ng-bind="newGuide.crop.binomial_name"></em>
        </p>
        <p ng-show="newGuide.crop">
          <span ng-bind="newGuide.crop.description"></span>
        </p>
        </div>
      </div>
      <div class="row">
      <!-- TODO: Take a look at the upload script -->
        <!-- <div class="columns large-4">
          <label class="right"
            for="guide_image_upload"><%= t('.step_1.choose_photo') %><br/>
            <small><%= t('.step_1.only_upload_what_you_own') %></small>
          </label>
        </div>
        <div class="columns large-8">
          <input s3-upload/>
        </div> -->
      </div>
      <div class="row practices">
        <div class="columns large-4">
          <label class="right"
            for="guide_image_upload"><%= t('.step_1.which_practices') %><br/>
            <small><%= t('.step_1.check_all_that_apply') %></small>
          </label>
        </div>
        <div class="columns large-8 options">
          <label for="organic">
            <input type="checkbox"
                   id="organic"
                   name="organic"
                   ng-model="newGuide.practices.organic"/><span class="button tiny secondary">
              Organic
            </span>
          </label><label for="permaculture">
            <input type="checkbox"
                   id="permaculture"
                   name="permaculture secondary"
                   ng-model="newGuide.practices.permaculture"/><span class="button tiny secondary">
              Permaculture
            </span>
          </label><label for="conventional">
            <input type="checkbox"
                   id="conventional"
                   name="conventional"
                   ng-model="newGuide.practices.conventional"/><span class="button tiny secondary">
              Conventional
            </span>
          </label><button data-dropdown="other" class="button tiny secondary" aria-controls="other" aria-expanded="false">Other</button>
          <ul id="other" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1"
            ng-init="practices">
            <li ng-click="newGuide.practices.hydroponic = !newGuide.practices.hydroponic">
              <a>
              <i ng-show="newGuide.practices.hydroponic" class="fa fa-check"></i> Hydroponic</li>
              </a>
          </ul>
        </div>
      </div>
      <div class="button-wrapper row">
        <div class="columns large-12">
          <a class="button small secondary left"
            name="back"
            href="<%= root_path %>"
            ng-click="cancel('<%= root_path %>')"><%= t('.cancel_and_go_to_home') %></a>
          <input class="button small right"
            name="commit"
            type="submit"
            value="{{ newGuide.crop ? '<%= t('.next_name_and_location') %>' : '<%= t('.choose_a_crop_to_continue') %>' }}"
            ng-disabled="!newGuide.crop"
            ng-click="nextStep()"/>
        </div>
      </div>
    </form>
  </section>
  <section name="step-2" ng-show="step === 2">
    <h1 class="columns large-6">
      <%= t('.some_information') %>
    </h1>
    <form accept-charset="UTF-8"
      class="new-guide new-guide-step-2"
      id="new-guide-step-2"
      method="post"
      >
      <div class="row">
        <div class="columns large-6">
          <p>
            <%= t('.youre_growing_a') %>
            <strong>{{ newGuide.crop.name }}</strong>.
          </p>
          <label for="guide_name"><%= t('.what_do_you_want_to_call_your_guide') %></label>
          <input id="guide_name" name="guide[name]"
            type="text"
            ng-model="newGuide.name"
            placeholder="<%= current_user.display_name %>'s {{ newGuide.crop.name }}"
            >
        </div>
        <div class="columns large-6">
          <label for="guide_name"><%= t('.where_are_you_growing_it') %></label>
          <span location
                ng-model="newGuide.location"
                loading-text="<%= t('application.loading_locations') %>">
          </span>
          <!-- <input type="text"
                 ng-model="newGuide.location"
                 placeholder="Ex: Hanoi, Portland, California"
                 typeahead="address for address in addresses"
                 ng-change="getLocation(newGuide.location)"
                 typeahead-min-length="3"
                 typeahead-loading="loadingLocations"
                 typeahead-wait-ms="555"
                 class="form-control"
                 name="guide[location]">
          <i ng-show="loadingLocations" class="fa fa-refresh"><%= t('application.loading_locations') %></i> -->
        </div>
      </div>
      <div class="button-wrapper row">
        <div class="columns large-12">
          <a class="button small secondary left"
            name="back"
            href="<%= root_path %>"
            ng-click="cancel()"><%= t('.cancel_and_go_to_home') %></a>
          <input class="button small secondary left"
            name="back"
            type="submit"
            value="<%= t('.back') %>"
            ng-click="previousStep()">

          <input class="button small right"
            data-disable-with="Saving..."
            name="commit"
            type="submit"
            value="{{ newGuide.crop || !newGuide.name ? '<%= t('.done_add_extras') %>' : '<%= t('.call_your_guide_something') %>' }}"
            ng-disabled="!newGuide.crop || !newGuide.name"
            ng-click="submitForm()"/>
        </div>
      </div>
    </form>
  </section>
  <section >
  </section>
</div>

<% content_for(:end_js) do %>
  <%= javascript_include_tag 'guides/new' %>
<% end %>
