<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div ng-app="guidesApp" 
     ng-controller="newGuideCtrl"
     class="small-12 columns ng-cloak"
     ng-cloak>

    <alert ng-cloak class="ng-cloak" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="row">
    <div class="large-8 medium-10 small-12 small-centered columns box">
      <section name="step-1" ng-show="step === 1">
        <h1 class="columns large-6">
          <%= t('.create_a_guide') %>
        </h1>
        <form accept-charset="UTF-8"
          class="new-guide new-guide-step-1"
          id="new-guide-step-1"
          method="post"
          >
          <div class="columns large-6">
            <label 
              for="guide_crop_id"><%= t('.what_plant') %></label>
            <input
              id="crop_name"
              type="text"
              ng-model="query"
              ng-change="search()"
              typeahead-on-select='cropSelected($item, $model, $label)'
              typeahead="crop.name for crop in crops"
              typeahead-loading="loadingCrops"
              typeahead-wait-ms="1000"
              class="form-control"/>
            <i ng-show="loadingLocations" class="fa fa-refresh">loading crops</i>

          </div>
          <div class="columns large-6">
            
            <span class="crop-image">
              <img ng-cloak
                   ng-class="{ 'no-image' : !new_guide.crop.image }"
                   ng-src="{{ new_guide.crop.image || '/img/empty-pot.png' }}" 
                   alt="{{ new_guide.crop.name || 'no crop selected'}}"/>
            </span>

            
            <p>
              <strong ng-cloak ng-bind="new_guide.crop.name ? new_guide.crop.name : ''"></strong>
            </p>
            <p ng-show="new_guide.crop">
              <span ng-bind="new_guide.crop.description"></span>
              <span ng-show="!new_guide.crop.description && !editCropDescription">
                <em>
                  We've got no information for this crop at the moment. To add a short description, <a ng-click="editCropDescription = !editCropDescription">click here</a>.</em>
                  
              </span>
              <textarea
                    ng-if="editCropDescription"
                    ng-bind="new_guide.crop.description"
                    placeholder="A short description of your crop"></textarea>
              
            </p>
            <span ng-if="crop_not_found">
              <p>
                <strong><%= t('.uh_oh') %></strong> <%= t('.not_found') %>
              </p>
              <p>
                <%= t('.you_will_have_to') %> <a ng-click="createCrop()"><%= t('.add_one') %></a>.
              </p>
            </span>
          </div>
          <div class="">
            <div class="columns large-12">
              <a class="button small secondary left"
                name="back"
                href="<%= root_path %>"
                ng-click="cancel('<%= root_path %>')"><%= t('.cancel_and_go_to_home') %></a>
              <input class="button small right"  
                name="commit" 
                type="submit"
                value="{{ new_guide.crop ? 'Next: Some Information' : 'Choose a crop to continue' }}"
                ng-disabled="!new_guide.crop"
                ng-click="nextStep()"/>
            </div>
          </div>
        </form>
      </section>
      <section name="step-2" ng-show="step === 2">
        <h1 class="columns large-6">
          <%= t('.some_information') %>
        </h1>
        <form accept-charset="UTF-8"
          class="new-guide new-guide-step-2"
          id="new-guide-step-2"
          method="post"
          >
          <div class="columns large-6">
            <p>
              <%= t('.tell_us_how_you_grow') %>
              <strong>{{ new_guide.crop.name }}</strong>.
            </p>
            <label for="guide_name"><%= t('.what_do_you_want_to_call_your_guide') %></label>
            <input id="guide_name" name="guide[name]" type="text" 
            ng-model="new_guide.name">

          </div>
          <div class="columns large-6">
            <label for="guide_name">Where are you growing it?</label>
            <input type="text" 
                   ng-model="guide.location"
                   placeholder="Ex: Hanoi, Portland, California" 
                   typeahead="address for address in addresses"
                   ng-change="getLocation(guide_location)"
                   typeahead-loading="loadingLocations"
                   typeahead-wait-ms="1000"
                   class="form-control"
                   name="guide[location]">
            <i ng-show="loadingLocations" class="fa fa-refresh">loading locations</i>

          </div>
          <div class="">
            <div class="columns large-12">
              <a class="button small secondary left"
                name="back"
                href="<%= root_path %>"
                ng-click="cancel()"><%= t('.cancel_and_go_to_home') %></a>
              <input class="button small secondary left"
                name="back"
                type="submit"
                value="Back"
                ng-click="previousStep()">

              <input class="button small right"  
                data-disable-with="Saving..." 
                name="commit" 
                type="submit"
                value="{{ new_guide.crop || !new_guide.name ? 'Done: Add Extras' : 'Call your guide something.' }}"
                ng-disabled="!new_guide.crop || !new_guide.name"
                ng-click="submitForm()"/>
            </div>
          </div>
        </form>
      </section>
      <section >
      </section>
    </div>
  </div>
</div>
