<div ng-app="guidesApp" 
     ng-controller="newGuideCtrl"
     class="small-12 columns ng-cloak"
     ng-cloak>

    <alert ng-cloak class="ng-cloak" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

  <div class="row">
    <div class="large-8 medium-10 small-12 small-centered columns box">
      <section name="step-1" ng-show="step === 1">
        <h1 class="columns large-6">
          <%= t('.create_a_guide') %>
        </h1>
        <form accept-charset="UTF-8"
          class="new-guide new-guide-step-1"
          id="new-guide-step-1"
          method="post"
          >
          <div class="columns large-6">
            <p>
              <%= t('.intro_great') %>
            </p>
            <label 
              for="guide_crop_id"><%= t('.what_is_the_plant_called') %></label>
            <input
              id="crop_name"
              type="text"
              ng-model="query"
              ng-change="search()"
              typeahead-on-select='cropSelected($item, $model, $label)'
              typeahead="crop.name for crop in crops"
              typeahead-wait-ms="555"
              class="form-control"/>
          </div>
          <div class="columns large-6">
            <span class="crop-image">
              <img ng-cloak
                   ng-class="{ 'no-image' : !new_guide.crop.image }"
                   ng-src="{{ new_guide.crop.image || '/img/empty-pot.png' }}" 
                   alt="{{ new_guide.crop.name || 'no crop selected'}}"/>
            </span>
            <p ng-if="new_guide.crop">
              <strong ng-cloak ng-bind="new_guide.crop.name ? new_guide.crop.name + ':' : ''"></strong><span ng-bind="new_guide.crop.description"></span>
            </p>
            <p ng-if="!new_guide.crop && !crop_not_found">
              <%= t('.enter_a_crop') %>
            </p>
            <span ng-if="crop_not_found">
              <p>
                <strong><%= t('.uh_oh') %></strong> <%= t('.not_found') %>
              </p>
              <!-- <p>
                Is it one of these: 
                  <select ng-options="crop in possible_crops"></select>
              </p> -->
              <p>
                <%= t('.you_will_have_to') %> <a ng-click="createCrop()"><%= t('.add_one') %></a>.
              </p>
            </span>
          </div>
          <div class="row">
            <div class="columns large-12">
              <a class="button small secondary left"
                name="back"
                href="<%= root_path %>"
                ng-click="cancel('<%= root_path %>')"><%= t('.cancel_and_go_to_home') %></a>
              <input class="button small right"  
                name="commit" 
                type="submit"
                value="{{ new_guide.crop ? 'Next: Some Information' : 'Choose a crop to continue' }}"
                ng-disabled="!new_guide.crop"
                ng-click="nextStep()"/>
            </div>
          </div>
        
        
        </form>
      </section>
      <section name="step-2" ng-show="step === 2">
        <h1 class="columns large-6">
          <%= t('.some_information') %>
        </h1>
        <form accept-charset="UTF-8"
          class="new-guide new-guide-step-2"
          id="new-guide-step-2"
          method="post"
          >
          <div class="columns large-6">
            <p>
              <%= t('.tell_us_how_you_grow') %>
              <strong>{{ new_guide.crop.name }}</strong>.
            </p>
            <p>
              <%= t('.before_we_create_your_guide') %>
            </p>
            <label for="guide_name"><%= t('.what_do_you_want_to_call_your_guide') %></label>
            <input id="guide_name" name="guide[name]" type="text" 
            ng-model="new_guide.name">

            <!-- TODO: We need either a list of locations, or Google APIs needs to be gotten to work, which it doesn't at the moment. --> 
            <!-- <label for="guide_name">Where are you growing it?</label>
            <input type="text" 
                   ng-model="asyncSelected"
                   placeholder="Locations loaded via $http" 
                   typeahead="address for address in getLocation($viewValue) | filter:$viewValue" 
                   typeahead-loading="loadingLocations" 
                   class="form-control"
                   name="guide[location]"> -->


          </div>
          <div class="columns large-6">
            <label for="guide_overview"><%= t('.overview') %></label>
            <textarea id="guide_overview" 
                      name="guide[overview]"
                      ng-model="new_guide.overview"
                      rows="10">
            </textarea>
          </div>
          <div class="row">
            <div class="columns large-12">
              <a class="button small secondary left"
                name="back"
                href="<%= root_path %>"
                ng-click="cancel()"><%= t('.cancel_and_go_to_home') %></a>
              <input class="button small secondary left"
                name="back"
                type="submit"
                value="Back"
                ng-click="previousStep()">

              <input class="button small right"  
                data-disable-with="Saving..." 
                name="commit" 
                type="submit"
                value="{{ new_guide.crop || !new_guide.name ? 'Done: Add Extras' : 'Call your guide something.' }}"
                ng-disabled="!new_guide.crop || !new_guide.name"
                ng-click="submitForm()"/>
            </div>
          </div>
        </form>
      </section>
      <section >
      </section>
    </div>
  </div>
</div>
