<div class="row">
  <div class="small-12 columns">
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation overview-wrapper">
        <a href="#overview" class="title-wrapper">
          <h2 class="title"><%= @guide.name %></h2>
          <h5 class="author">Guide by: <%= @guide.user.display_name %></h5>
        </a>
        <div id="overview" class="content active">
          <div class="row">
            <div class="small-3 columns img-container">
              <img class="plant image" src="http://www.organicgardening.com/sites/default/files/images/tomato-tips-380-1.jpg" alt="tomatoes!">
            </div>
            <div class="small-7 columns overview-container">
              <h5 class="overview-title">Overview</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="small-2 columns nav-container">
              <h5 class="nav-title">Navigation</h5>
              <ul>
                  <li><a href="#prerequisites">Prerequisites</a></li>
                  <li><a href="#timeline">Timeline</a></li>
                  <li><a href="#growing-instructions">Growing Instructions</a></li>
                  <li><a href="#tips-and-tricks">Tips and Tricks</a></li>
                  <li><a href="#shopping-list">Shopping List</a></li>
                  <li><a href="#recipes-and-usage">Recipes and Usage</a></li>
                  <li><a href="#forum">Forum</a></li>
              </ul>
            </div>
          </div>
        </div>
      </dd>

      <dd class="accordion-navigation prerequisites-wrapper">
        <a href="#prerequisites" class="title-wrapper">
          <h2 class="title">Prerequisites</h2>
        </a>
        <div id="prerequisites" class="content active">
          <div class="row">
            <div class="small-5 columns prerequisite-table-container">
              <table>
                <thead>
                  <tr>
                    <th width="20"></th>
                    <th class="show-for-medium-up" width="100"></th>
                    <th width="200"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Sun/Shade</td>
                    <td class="prerequisite-description">Full sun</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">pH</td>
                    <td class="prerequisite-description">4 to 6</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Temperature</td>
                    <td class="prerequisite-description">18 to 26 C</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Soil</td>
                    <td class="prerequisite-description">High in organic matter</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Water</td>
                    <td class="prerequisite-description">High</td>
                  </tr>                  
                </tbody>
              </table>
            </div>
            <div class="small-5 columns prerequisite-table-container">
              <table>
                <thead>
                  <tr>
                    <th width="20"></th>
                    <th class="show-for-medium-up" width="100"></th>
                    <th width="200"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Location</td>
                    <td class="prerequisite-description">Greenhouse</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Practices</td>
                    <td class="prerequisite-description">Organic</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Time Commitment</td>
                    <td class="prerequisite-description">High</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Physical Ability</td>
                    <td class="prerequisite-description">Low</td>
                  </tr>
                  <tr>
                    <td class="prerequisite-icon">x</td>
                    <td class="prerequisite-title show-for-medium-up">Time of Year</td>
                    <td class="prerequisite-description">Late Winter and early Spring after last Spring frost</td>
                  </tr>                  
                </tbody>
              </table>
            </div>
            <div class="small-2 columns compatability-score-container">
              <p>This guide is</p>
              <div class="score-circle high-score">
                <div class="score">42%</div>
              </div>
              <p>compatable with you and your garden</p>
            </div>
          </div>
        </div>
      </dd>

      <dd class="accordion-navigation timeline-wrapper">
        <a href="#timeline" class="title-wrapper">
          <h2 class="title">Timeline</h2>
        </a>
        <div id="timeline" class="content active">
          <div class="row seasons">
            <% @seasons.each do |season, dates| %>
              <div class="columns small-3">
                <h3><%= season %></h3>
                <span class="dates"><%= dates %></span>
              </div>
            <% end %>
          </div>
          <div class="row plant-timeline">
            <!-- TODO: Actual timeline. This should probably be built using CSS, but we're waiting on this data from the DBS -->
          </div>
          <div class="row months">
            <% @months.each do |m| %>
              <div class="columns small-1">
                <%= m %>
              </div>
            <% end %>
          </div>
        </div>
      </dd>

      <dd class="accordion-navigation instructions-wrapper">
        <a href="#instructions" class="title-wrapper">
          <h2 class="title">Growing Instructions</h2>
        </a>
        <div id="instructions" class="content active">
          <div class="row stage-headers">
            <div class="columns small-2">
              <div class="stage-title">Stage:</div>
            </div>
            <ul class="columns small-10 tabs stages" data-tab>
              <li class="tab-title active">
                <a href="#instructions-overview">
                  <h3>Overview</h3>
                  <span>&nbsp;</span>
                </a>
              </li>
              <% @guide.stages.each do |stage| %>
                <li class="tab-title">
                  <a href="#instructions-<%= stage['title'] %>">
                    <h3><%= stage['title'] %></h3>
                    <% if stage['days'] != '' %>
                      <span class="days">
                        <%= stage['days'] %>
                      </span>
                    <% else %>
                      <span>&nbsp;</span>
                    <% end %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="row tabs-content">
            <div class="content active" 
                 id="instructions-overview">
                 <div class="columns small-12">
                  Overview
                </div>
            </div>
            <% @guide.stages.each do |stage| %>
              <div class="content"
                   id="instructions-<%= stage['title'] %>">
                   <div class="columns small-12">
                   <%= stage['instructions'] %>
                   </div>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="columns small-3">
              Add a stage:
            </div>
            <div class="columns small-9">
              <%= form_for(:stage, :url => {:controller => 'stages', :action => 'create'}) do |f| %>
                  <%= f.hidden_field(:guide, value: @guide.id) %>
                  <%= f.label(:name) %>
                  <%= f.text_field(:name) %>
                  <%= f.label(:days_start) %>
                  <%= f.number_field(:days_start) %>
                  <%= f.label(:days_end) %>
                  <%= f.number_field(:days_end) %>
                  <%= f.label(:instructions) %>
                  <%= f.text_area(:instructions) %>
                  <%= submit_tag('Add Stage', {:class => 'button tiny'}) %>

                <% end %>
            </div>
          </div>
        </div>
      </dd>
      <dd class="accordion-navigation usage-wrapper">
        <a href="#usage" class="title-wrapper">
          <h2 class="title">Recipes and Usage</h2>
        </a>
        <div id="usage" class="content">
          <div class="row">
            <div class="columns small-5 small-centered">
              Recipes and Usage are still being designed. You can help us out by taking a look at <a href="https://github.com/FarmBot/OpenFarm">the project page on Github</a>.
            </div>
          </div>
        </div>
      </dd>
      <dd class="accordion-navigation forum-wrapper">
        <a href="#forum" class="title-wrapper">
          <h2 class="title">Forums</h2>
        </a>
        <div id="forum" class="content">
          <div class="row">
            <div class="columns small-5 small-centered">
              The Forums are still being built. You can help us out by taking a look at <a href="https://github.com/FarmBot/OpenFarm">the project page on Github</a>.
            </div>
          </div>
        </div>
      </dd>
    </dl>
  </div>
</div>
