<%= content_for(:author) do %><%= @guide.user.display_name %><% end %>
<%= content_for(:description) do %><%= @guide.overview %><% end %>
<%= content_for(:keywords) do %><% if @guide.practices %><%= @guide.practices.join(', ') %><% end %>, <%= @guide.crop.name %><% end %>

<%= content_for(:start_js) do %>

<% end %>

<div ng-controller="showGuideCtrl"
     ng-cloak
     class="guides show-guide">

    <div alerts ng-model="alerts"></div>

    <!-- These two 'Tops of Guides' for different screen sizes are pretty similar
    and it may be possible/worth DRYing it up. I'm not sure. I imagine that as the
    site gets more complex, it is easier to develop fairly separated HTML in order
    to have more freedom in rearranging elements, and an easier time styling.
    Open to feedback! :) -->

    <!-- Top of Guide for large screens -->
    <!-- TODO: There's a lot of duplicate content here, we should try and minimize that. -->
    <div class="row wide-row large-guide show-for-large-up">
      <div class="large-12 columns">
        <div class="large-12 columns header">
          <h1 class="guide-name">{{ guide.name }}</h1>
          <h2 class="guide-author"><%= t('.guide_by') %> {{ guide.user.display_name }}</h2>
          <%= render "guides/show/guide_controllers" %>
        </div>
      </div>
      <div class="columns large-5">
        <div class="canopy"
          ng-attr-alt="{{ guide.name }}"
          style="background-image: url({{ guide.featured_image }})">
        </div>
      </div>
      <div class="columns large-5 margin-top">
        <h4 class="title" id="overview">
          <%= t('.overview') %>
        </h4>
        <div class="markdown" markdown="guide.overview">
        </div>
      </div>
      <div class="columns large-2 margin-top">
        <h4 class="title text-center" id="compatibility">
          <%= t('.compatibility') %>
        </h4>
        <div class="compatibility-circle-container"
          ng-repeat="garden in currentUser.gardens"
          tooltip="<%= t('.compatibility_based_on') %> &quot;{{ garden.name }}&quot;">
          <%= render partial:'/guides/compatibility_circle', locals:{guide: @guide} %>
        </div>
        <div class="add-to-garden center">
          <% if current_user %>
            <%= render partial: 'gardens/add_to_gardens.html' %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Top of Guide for small screens -->
    <!-- TODO: There's a lot of duplicate content here, we should try and minimize that. -->
    <div class="row wide-row small-guide show-for-medium-down">

      <div class="canopy"
        ng-attr-alt="{{ guide.name }}"
        style="background-image: url({{ guide.featured_image }})">
        <div class="large-12 columns">
          <h1 class="guide-name">{{ guide.name }}</h1>
        </div>
          <%= render "guides/show/guide_controllers" %>
      </div>

      <div class="columns small-8 margin-top">
        <h4 class="title" id="overview">
          <%= t('.overview') %>
        </h4>
        <div class="markdown" markdown="guide.overview">
        </div>
      </div>
      <div class="columns small-4 margin-top">
        <h4 class="title text-center" id="compatibility">
          <%= t('.compatibility') %>
        </h4>
        <div class="compatibility-circle-container"
          ng-repeat="garden in currentUser.gardens"
          tooltip="<%= t('.compatibility_based_on') %> &quot;{{ garden.name }}&quot;">
          <%= render partial:'/guides/compatibility_circle', locals:{guide: @guide} %>
        </div>
        <div class="add-to-garden center">
          <% if current_user %>
            <%= render 'gardens/add_to_gardens.html' %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row wide-row content">
    <div class="small-12 columns">
    <accordion close-others="false">

    <%= render 'guides/show/show_guide_basic_needs' %>

    <%= render 'guides/show/show_guide_timeline' %>

    <%= render 'guides/show/show_guide_stages' %>

    <%#= render 'guides/show/show_guide_statistics' %>

    </div>
  </div>
</div>

<% content_for(:end_js) do %>
  <%= javascript_tag "var USER_ID = '#{current_user ? current_user._id : nil}';" %>
  <%= javascript_include_tag 'guides/show' %>
<% end %>
