<div ng-controller="showGuideCtrl"
     ng-cloak
     class="show-guide-app">

    <alert ng-cloak class="ng-cloak columns large-6 centered" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
      <div>
        {{ alert.msg }}
      </div>
    </alert>
    <div class="canopy">
      <div class="image-wrapper">
        <img ng-src="/assets/leaf-grey-canopy.png"
          ng-if="guide.featured_image.indexOf('leaf-grey') > -1"
          ng-attr-alt="{{ guide.name }}"/>
        <img ng-src="{{ guide.featured_image }}"
          ng-if="guide.featured_image.indexOf('leaf-grey') === -1"
          ng-attr-alt="{{ guide.name }}"/>
      </div>
    </div>
    <div class="row title">
      <div class="column large-10 centered">
        <h1> {{ guide.name }} </h1>
        <h2> <%= t('.guide_by') %> <span>{{ guide.user.display_name }}</span></h2>
        <% if @guide.owned_by?(current_user) %>
        <%= link_to(icon('edit') + " Edit Guide", {:action => 'edit'}, :class=>'edit-link') %>
        <% end %>
      </div>
      <div class="columns large-10 centered">
        <div class="markdown" markdown="guide.overview">
        </div>
      </div>
    </div>
    <div class="row">
    <div class="large-10 small-10 columns centered">

    <accordion close-others="false">
      <accordion-group is-open="stat.isopen" class="accordion-navigation statistics">
        <accordion-heading class="title-wrapper">
          <h2 class="title">
            <i ng-class="{'fa fa-minus': stat.isopen, 'fa fa-plus': !stat.isopen}"></i>
            <%= t('.statistics.title') %>
          </h2>
        </accordion-heading>
        <p class="section-text">
          <div class="box">
            <div class="row">
              <div class="empty columns large-12 centered">

                 <i class="fa fa-bar-chart-o"></i><br/>
                  <%= t('.statistics.once_we_know_more') %>
               </div>
             </div>
          </div>

        </p>
      </accordion-group>
      <accordion-group
        ng-init="r.isopen = true"
        is-open="r.isopen"
        class="accordion-navigation requirements">
        <accordion-heading class="title-wrapper">
          <h2 class="title">
            <i ng-class="{'fa fa-minus': r.isopen, 'fa fa-plus': !r.isopen}"></i>
            <%= t('.requirements.title') %>
          </h2>
        </accordion-heading>
        <p class="section-text">
          <%= t('.requirements.the_small_details') %>
        </p>
        <div class="box">
          <div class="row">
            <div
              ng-if="guide.requirements.length"class="small-12 columns actual-requirements">
              <ul>

                <li ng-repeat="r in guide.requirements" class="requirement">
                  <span class="small-6 columns"
                    ng-bind="r.name + ':'"></span>
                  <span class="small-6 columns"
                    ng-bind="r.required"></span>
                </li>
              </ul>
            </div>
            <div class="small-12 columns empty"
              ng-if="guide.requirements.length === 0">
              <i class="fa fa-thumbs-down"></i>
              <br/>
              <%= t('.requirements.no_requirements_yet') %>
            </div>
          </div>
        </div>
      </accordion-group>

      <accordion-group
        is-open="stag.isopen"
        ng-init="stag.isopen = true"
        class="accordion-navigation">
        <accordion-heading class="title-wrapper">
          <h2 class="title" id="stages">
            <i ng-class="{'fa fa-minus': stag.isopen, 'fa fa-plus': !stag.isopen}"></i>
            <%= t('.stages.title') %>
          </h2>

        </accordion-heading>
        <p class="section-text">
          <%= t('.stages.each_stage_with_details') %>
        </p>
        <div class="box"
          ng-if="guide.stages.length === 0">
          <div class="row">
            <div class="small-12 columns empty">
              <i class="fa fa-thumbs-down"></i>
              <br/>
              <%= t('.stages.no_stages_yet') %>
            </div>
          </div>
        </div>
        <tabset class="tabs">

          <tab ng-repeat="s in guide.stages | orderBy:'order'">
            <tab-heading href="#instructions-{{ s.slug }}" class="tab-heading">
              <h3>{{ s.name }}</h3>
            </tab-heading>
            <div class="box">
              <div class="row">
                <div class="columns large-12 stage-description">
                  <p>{{ s.description }}</p>
                  <div class="markdown" markdown="s.instructions">
                  </div>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </accordion-group>
    </accordion>
    </div>
  </div>
</div>

<% content_for(:end_js) do %>
  <%= javascript_include_tag 'guides/show' %>
<% end %>