<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title>
        <%= content_for?(:title) ? yield(:title) : "OpenFarm" %>
    </title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= javascript_tag "var USER_ID = '#{current_user.try(:id).to_s}';" if protect_against_forgery? %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1>
                  <%= link_to(image_tag('openfarm_logo.png', :width => '110px', :alt => 'Open Farm'), root_path) %>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#"><span>Menu</span></a>
            </li>
        </ul>

        <section class="top-bar-section">

            <!-- Search box Section -->
            <%# Added the reference to "/" because root_path was being redefined to have /en|nl/ whichever way I put it. %>
            <% unless current_page?(root_path) or current_page?("/") %>
              <%= form_for :cropsearch, url:
                crop_search_via_post_path, method: 'post' do |f| %>
                <div class="left">

                  <div class="row collapse postfix-round">

                    <div class="small-4 columns">
                      <%= f.text_field :q, id: :q, maxlength:"120", class: 'search', placeholder: t('pages.home.placeholder') %>

                    </div>
                    <div class="small-2 columns end">
                      <%= f.submit t('pages.home.search'), data: { disable_with: "Searching..." }, class: 'small button postfix' %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

            <!-- Right Nav Section -->
            <ul class="right">
                <% if current_user %>
                    <li class="has-dropdown">
                        <a href="#"><%= t('application.greeting', user: current_user.display_name) %></a>
                        <ul class="dropdown">
                            <li>
                                <%= link_to t('application.create_guide'), new_guide_path %>
                                <%= link_to t('application.user_settings'), edit_user_registration_path %>
                            </li>
                        </ul>
                    </li>
                    <li class="has-form">
                        <%= link_to(t("application.log_out"), destroy_user_session_path, method: :delete, class: '', id: 'logout') %>
                    </li>
                <% else %>
                    <li class="has-form">
                        <%= link_to( t("application.create_account"), new_user_registration_path, class: 'button', id: 'register') %>
                    </li>
                    <li class="divider"></li>
                    <li class="has-form">
                        <%= link_to( t("application.log_in"), new_user_session_path, class: 'button', id: 'login') %>
                    </li>
                <% end %>
            </ul>
        </section>
    </nav>
    </div>
    <% if current_page?(root_path) or current_page?("/") %>
      <%# if we're at root, we need to create a wrapper for these to float them somewhere else %>
      <div class="home-alert-wrapper">
    <% for item in Announcement.current(session[:announcement_hide_time]) %>
        <div data-alert class="alert-box warning radius columns large-4 small-centered">
          <%= item.message %>
          <%= link_to('&times;'.html_safe, 'announcements/hide', class: 'close', remote: true) %>
        </div>
    <% end %>
    <% end %>
    <% if notice %>
        <div data-alert class="alert-box success radius columns large-4 small-centered">
          <%= notice %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
    <% if alert %>
        <div data-alert class="alert-box alert radius columns large-4 small-centered">
          <%= alert %>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>
    <% if current_page?(root_path) or current_page?("/") %>
      <%# if we're at root, we need to create a wrapper for these to float them somewhere else, close that wrapper %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
